<% include ../partials/head %>
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <h1>VanillaPay Back</h1>
        <p> <% data %> </p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<% include ../partials/foot %>