<% include ../partials/head %>
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="jumbotron">
        <h1>VanillaPay</h1>
        <p>Welcome to VanillaPay Test </p>
        <form action="/" method="post">
            <input class="form-control" type="text" name="montant">
            <button class="mt-2 btn btn-infos" type="submit">Payer</button>
        </form>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

<% include ../partials/foot %>